body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8px;
    background: #E3E6F3;
    color: #050505;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
}

#name {
    list-style-type: none;
    font-style: oblique;
}

#name span {
    color: #339a95;
}

#navbar-right {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar-right li {
    padding: 0 20px;
}

#navbar-right li a {
    color: #1a1a1a;
    transition: 0.3s ease;
    text-decoration: none;
}

#navbar-right li a:hover,
#navbar-right li a:active {
    text-decoration: underline;
    color: #088178;
}

/* Search Bar Styles */
#searchbar {
    display: flex;
    align-items: center;
}

#searchbar form {
    display: flex;
    margin: 0;
}

#searchbar input {
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

#searchbar input:hover {
    border: 1px solid #155fb4;
}

#searchbar button {
    padding: 10px;
    background-color: #5c51ce;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

#searchbar button:hover {
    background-color: #478ad7;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    overflow-x: auto;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.customer-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.customer-details h2 {
    color: #5c51ce;
}

.customer-details table {
    margin-top: 20px;
}
